CNN/__pycache__/*
CNN/checkpoints/*
CNN/models/__pycache__/*
CNN/experiment_results/*
CNN/reports/*
data_processing/__pycache__/*
data_processing/processed_eeg_data*
LaBraM/__pycache__/*
LaBraM/data_processor/__pycache__/*
utils/__pycache__/*