CNN/__pycache__/*
CNN/checkpoints/*
CNN/models/__pycache__/*
CNN/experiment_results/*
CNN/experiment_results_4s/*
CNN/reports/*
CNN/report_v1/*
CNN/report_1s/*
CNN/report_2s/*
CNN/report_4s/*
CNN/results_1s/*
CNN/results_2s/*
CNN/results_4s/*
data_processing/__pycache__/*
data_processing/processed_eeg_data*
LaBraM/__pycache__/*
LaBraM/data_processor/__pycache__/*
LaBraM/results/*
utils/__pycache__/*
utils/*.png
utils/*.txt
utils/*.csv